@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
}

/* WebKit (Chrome/Edge/Safari) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 9999px;
}
